html,
body {
  box-sizing: border-box;
  color: #344654;
  display: flex;
  flex-direction: row;
  font-family: 'Lato', system-ui;
  font-size: 1.4vw;
  margin: 0;
  text-align: left;
  padding: 0;
}

#navbar {
  background: #DAE5ED;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 30vw;
  & h1 {
    border-bottom: 1px solid black;
    margin: 0;
    padding: 1em;
  }
  & ul {
    list-style: none;
    padding: 0;
    margin: 0;
    & li {
      border-bottom: 1px solid black;
      padding: .5em 1em .5em 2.5em;
      &:hover {
        & a {
          font-weight: 300;
        }
      }
      & a {
        color: #344654;
        font-weight: 400;
        text-decoration: none;
      }
    }
  }
}

#main-doc {
  box-sizing: border-box;
  font-weight: 300;
  left: 30vw;
  position: absolute;
  top: 0;
  width: auto;
  padding: 0 2em;
  & .main-section {
    & .formula-block {
      display: block;
      overflow-x: scroll;
      text-align: center;
      & .mjx-chtml {
        padding: 1em 0;
      }
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}

b {
  color: #234D6E;
}

@media screen and (width < 768px) {
  body {
    flex-direction: column;
    font-size: 3vw;
  }
  #navbar {
    height: auto;
    padding-bottom: .5em;
    position: relative;
    width: 100vw;
  }
  #main-doc {
    left: auto;
    position: relative;
    width: 100vw;
    & .main-section {
      border-bottom: .1px solid #344654;
      margin: auto;
      width: 92vw;
      & ol {
        padding: 0;
        margin-left: 1em;
      }
    }
  }
}